<h1 class="page-title">Data Summaries Index</h1>

<table class="index-table">
	<thead>
		<th>Country Summaries</th>
		<th>Greenhouse Gas Summaries</th>
		<th>Year Summaries</th>
	</thead>
	<tr>
		<td>
			<ul class="index-list">
				<% AppData.by_country_summaries.each{|partial| %>
					<% @partial_display_name = partial.gsub("_"," ").gsub(".html.erb","").split.map{|word| word.capitalize }.join(" ") %>
					<% @partial_param_text = partial[1..-1] %>

					<li><%= link_to @partial_display_name, summaries_summary_path(partial: @partial_param_text) %></li>
				<% } %>
			</ul>
		</td>
		<td>
			<ul class="index-list">
				<% AppData.ghg_summaries.each{|partial| %>
					<% @partial_display_name = partial.gsub("_"," ").gsub(".html.erb","").split.map{|word| word.capitalize }.join(" ") %>
					<% @partial_param_text = partial[1..-1] %>

					<li><%= link_to @partial_display_name, summaries_summary_path(partial: @partial_param_text) %></li>
				<% } %>
			</ul>
		</td>
		<td>
			<ul class="index-list">
				<% AppData.year_summaries.each{|partial| %>
					<% @partial_display_name = partial.gsub("_"," ").gsub(".html.erb","").split.map{|word| word.capitalize }.join(" ") %>
					<% @partial_param_text = partial[1..-1] %>

					<li><%= link_to @partial_display_name, summaries_summary_path(partial: @partial_param_text) %></li>
				<% } %>
			</ul>
		</td>
	</tr>
</table>

<hr>
<table class="index-table">
	<thead>
		<th>All Summaries</th>
	</thead>
	<tr>
		<td>
			<ul class="index-list">
				<% AppData.all_summaries.each{|partial| %>
					<% @partial_display_name = partial.gsub("_"," ").gsub(".html.erb","").split.map{|word| word.capitalize }.join(" ") %>
					<% @partial_param_text = partial[1..-1] %>

					<li><%= link_to @partial_display_name, summaries_summary_path(partial: @partial_param_text) %></li>
				<% } %>
			</ul>
		</td>
	</tr>
</table>

