@import "~bootstrap/scss/bootstrap";

.body-container{
	margin-top: 22px;
	padding: 22px;
}



/* TABLE STYLES */
.table-container{
	max-width: 60%;
	margin: auto;
	margin-top: 2%;
	margin-bottom: 2%;
	padding: 22px;
	border: solid 1px black;
}

table {
	margin: auto;
	
	th {
		padding: 0px 12px 0px 12px;
	}
	td.center{
			text-align: center;
		}
}
table tr td { 
	font-size: 10px;
}



table.measures-index{
	/* margin-top: -80px;

	thead tr:nth-child(1) th{
	    position: sticky;
	    top: 88px;
	    z-index: 1;
  	} */
	th{
		padding:0px 12px 0px 12px;
		background: white;

	}
	th.center {
		text-align: center;
	}

	td {
		padding-bottom: 12px;
	}

	td.center {
		text-align: center;
	}
}