<h1 class="page-title">Measure Implementation Start Year Frequency</h1>

<table class="summary-table">
	
		<% Measure.measure_implementation_end_year_frequency.in_groups_of(10).each{|year_group| %>
			<tr>
				<% year_group.each{|year,count| %>
					<td>
						<span class="year-title"><%= year %></span>
						<p class="year-count"><%= count %></p>
					</td>
				<% } %>
			</tr>
		<% } %>
	
</table>