<h1>summary statistics</h1>
<h2>Total Number of Records</h2>
<h2>Records By Country</h2>
<h2>total year range -- with markers for kyoto protocols and other dates</h2>
<h2>year range by country </h2>
<h2>numbers by measure target (with and without groupings target groupings)</h2>
<h2>status that has ongoing, active, etc</h2>
<h2>some other stuff with measure status, i have to go back through my notes</h2>
<h2>all of the above for OECD and  EU slices</h2>
<h2>number of agencies listed on average per eu</h2>